body {
  margin: 0;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* APP */
.App {
  background-color: #fff;
  width: 375px;
  margin-top: 50px;
}

.App-header {
  display: flex;
  /* align-items:center; */
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding: 20px;
}

.main-content {
  height: 200px;
  background: linear-gradient(to top, #d2333e 0%, #f54b55 60%, transparent 60%);
  display: flex;
  justify-content: center;
}
